@import url(http://fonts.googleapis.com/css?family=PT+Sans:regular,bold|Inconsolata);
body {
  line-height: 1.1;
}
h1 {
  font-weight: bold;
}
div.content {
  font-family: 'PT Sans';
  padding: 0 2em;
}
pre.sh_sourceCode {
  font-size: 2em;
}
pre.sh_sourceCode * {
  font-family: Consolas, Inconsolata, monospace !important;
}
div.slide.black {
  color: #fff;
  background: #000;
}
div.slide.blue {
  background: #2966B8;
  color: #fff;
}
div.slide.red {
  background: #851B03;
  color: #fff;
}
div.slide.green {
  background: #ABFF73;
  color: #000;
}
